.social {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  height: calc(100vh - 72px);
  left: 0;
}

.social div {
  width: 70px;
  height: 70px;
  margin: 0.5rem 0;
  border-radius: 50%;
  border: 1px solid #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.social div img {
  filter: invert(40%);
}

.social div:hover {
  background-color: #313bac;
}

.social div:hover img {
  filter: invert(100%);
}
