.social {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  height: calc(100vh - 72px);
  left: 0;
  div {
    width: 70px;
    height: 70px;
    margin: 0.5rem 0;
    border-radius: 50%;
    border: 1px solid #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    img {
      filter: invert(40%);
    }
    &:hover {
      background-color: rgb(49, 59, 172);
      img {
        filter: invert(100%);
      }
    }
  }
}
