.skills {
  background-color: #fff;
}

.skills .container {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills .container .title {
  background-color: #fff;
}

.skills .container .title h1 {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}

.skills .container .content {
  margin-top: 3rem;
  display: flex;
  width: 80%;
}

.skills .container .content .left {
  flex-basis: 50%;
}

.skills .container .content .left .flex {
  margin-right: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.skills .container .content .left .flex .skill-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
  flex-direction: column;
}

.skills .container .content .left .flex .skill-list div {
  width: 150px;
  height: 150px;
  background-color: #fef4fe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills .container .content .left .flex .skill-list p {
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 1rem;
  color: #6b7688;
}

.skills .container .content .right {
  flex-basis: 50%;
}

.skills .container .content .right .flex {
  display: flex;
  flex-direction: column;
}

.skills .container .content .right .flex .exp {
  display: flex;
  margin: 1rem 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.skills .container .content .right .flex .exp h4 {
  color: #313bac;
  font-weight: 800;
  font-size: 2rem;
  margin-right: 5rem;
}

.skills .container .content .right .flex .exp h4.current {
  margin-right: 2rem;
}

.skills .container .content .right .flex .exp div {
  display: flex;
  flex-direction: column;
}

.skills .container .content .right .flex .exp div h3 {
  font-size: 2rem;
  font-weight: 500;
}

.skills .container .content .right .flex .exp div p {
  margin-top: 5px;
  color: #6b7688;
  font-size: 1.75rem;
  font-weight: 400;
}
